label {
  width: 100px;
  margin-right: 8px;
  text-align: right;
  display: inline-block;
}
.login{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-item{
    margin-bottom:10px;
}
.login-Btn {
  width: 100px;
  height: 44px;
  margin: 0 auto;
  cursor: pointer;
  line-height: 44px;
  border-radius: 4px;
  background-color: antiquewhite;
}
